body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.winner {
  line-height: 50px;
}

ol {
  line-height: 35px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 25px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  background-image: url(http://www.carpenter.com.tw/images/content/松木.jpg);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin-left: 300px;
}

.game-info {
  margin-left: 20px;
}